@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(@renderer/assets/fonts/Inter/Inter_18pt-Regular.ttf);
  }
}
